<div class="row">
    <div class="col-md-6">
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ form.filename }}</a>
                <small class="text-muted">{{ form.process_date|date:"F d, Y P" }}</small>
              </div>
              <div class="table-responsive-sm">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Rating</th>
                          <th scope="col">Positive</th>
                          <th scope="col">Negative</th>
                          <th scope="col">Neutral</th>
                          <th scope="col">Overall_Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">{{ form.rating }}</th>
                          <td>{{ file.positive }}</td>
                          <td>{{ file.negative }}</td>
                          <td>{{ file.neutral }}</td>
                          <td>{{ file.rat }}</td>
                        </tr>
                      </tbody>
                </table>
              </div>
            </div>
          </article>
    </div>
</div>